<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Demo Application</title>
    <link rel="stylesheet" href="/style.css" />
</head>
<body>
    <h1>Check out all our phones!</h1>

    <ul>
        <li><a href="/companies/Nokia">Phones by Nokia</a></li>
        <li><a href="/companies/Motorola">Phones by Motorola</a></li>
        <li><a href="/phones-by-carrier">Phones by Carrier</a></li>
        <li><a href="/carriers-by-phone">Carriers by Phone</a></li>
    </ul>

</body>
</html>
